---
interface Props {
  href: string;
  img: string;
  imgAlt?: string;
  title: string;
  body: string;
}

const { href, img, imgAlt, title, body } = Astro.props;
---

<div class="card-wrapper">
  <img src={img} alt={imgAlt} />
  <div class="body-wrapper">
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
    <a href={href} target="_blank">Live site</a>
  </div>
</div>

<style>
  .card-wrapper {
    display: flex;
    flex-direction: column;

    color: var(--clr-secondary);

    transition: all 250ms ease-out;

    border: 1px solid rgba(255, 255, 255, 0.206);

    background: rgba(255, 255, 255, 0.207);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.05),
      -2px 4px 5px rgba(0, 0, 0, 0.2);

    border-radius: var(--rounded);

    transition: all 250ms ease-out;
  }

  .card-wrapper:hover,
  .card-wrapper:focus {
    background: rgba(255, 255, 255, 0.206);
    translate: 0px -6px;
    box-shadow: -2px 7px 6px rgba(0, 0, 0, 0.2), -2px 9px 8px rgba(0, 0, 0, 0.2);
  }

  img {
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;

    object-fit: cover;
    object-position: center;

    border-radius: calc(var(--rounded) * 0.7) calc(var(--rounded) * 0.7) 0 0;
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    padding: 0.7rem;

    height: 100%;
  }

  h2 {
    font-size: 1.8rem;

    margin-bottom: 10px;
  }

  p {
    max-width: 50ch;
  }

  a {
    color: var(--clr-secondary);
    text-underline-offset: 2px;

    margin-top: auto;
  }

  a:hover {
    text-decoration: none;
  }

  /* Small tablet size */
  @media screen and (min-width: 481px) {
  }

  /* Large tablet and laptop size */
  @media screen and (min-width: 769px) {
    .card-wrapper {
      padding: 0.8rem;

      flex-direction: row-reverse;

      justify-content: space-between;

      gap: 1rem;
    }

    img {
      max-height: max(8rem, 15vw);

      border-radius: calc(var(--rounded) * 0.7);
    }

    .body-wrapper {
      padding: 0;
    }
  }

  /* Desktop size */
  @media screen and (min-width: 1025px) {
  }
</style>
