---
interface Props {
  href: string;
  img: string;
  imgAlt?: string;
  title: string;
  body: string;
}

const { href, img, imgAlt, title, body } = Astro.props;
---

<a href={href} target="_blank">
  <h2>
    {title}
  </h2>
  <img src={img} alt={imgAlt} />
  <p>
    {body}
  </p>
</a>

<style>
  a {
    text-decoration: none;

    color: var(--clr-secondary);

    transition: all 250ms ease-out;

    border: 1px solid rgba(255, 255, 255, 0.206);

    background: rgba(255, 255, 255, 0.207);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.05),
      -2px 4px 5px rgba(0, 0, 0, 0.2);

    padding: 1.2rem;

    border-radius: var(--rounded);

    transition: all 250ms ease-out;
  }

  a:hover,
  a:focus {
    background: rgba(255, 255, 255, 0.206);
    translate: 0px -6px;
    box-shadow: -2px 7px 6px rgba(0, 0, 0, 0.2), -2px 9px 8px rgba(0, 0, 0, 0.2);
  }

  h2 {
    font-size: 1.8rem;

    margin-bottom: 10px;
  }

  img {
    height: 250px;
    border-radius: calc(var(--rounded) * 0.7);
  }
</style>
